<?php
require_once("../config/conection.php");
require_once("../models/parking_model.php");

$parking = new parking_model();
$detail = $parking->detail_parkin($_POST['id_parking']);
?>


<div>

  <?php
  if (gettype($detail) != 'array') {
    echo "<p class='msj-none'>No hay parqueadero seleccionado</p>";
  } else {
    foreach ($detail[0] as $dato) {
  ?>
      <div class="card">
        <h2 class="card__title">Datos Parqueadero: </h2>
        <div class="card__content">
          <p>
            <strong>
              Ubicación:
            </strong>
            <?php
            echo $dato['nombre'];
            ?>
          </p>
          <p>
            <strong>
              Localización:
            </strong>
            <?php
            echo $dato['Localizacion'];
            ?>
          </p>
          <p>
            <strong>
              Cupos totales:
            </strong>
            <?php
            echo $dato['Cupos'];
            ?>
          </p>
          <p>
            <strong>
              Cupos disponibles:
            </strong>
            <?php
            echo $dato['cupos_disponibles'];
            ?>
          </p>
          <p>
            <strong>Horario conductores</strong>
            <?php echo $dato['schedule_conductor'] ?>
          </p>
        </div>
      </div>
  <?php
    }
  }
  ?>

  <?php
  if (gettype($detail) == 'array') {
  ?>
    <div class="card">
      <h2 class="card__title">Datos Buses: </h2>
      <div class="card__wrap">
        <?php foreach ($detail[1] as $dato) { ?>
          <div class="card__content">
            <p>
              <strong>ID Bus:</strong>
              <?php echo $dato['idtbl_bus'] ?>
            </p>
            <p>
              <strong>Conductor:</strong>
              <?php echo $dato['bus_driver'] ?>
            </p>
            <p>
              <strong>Salida del parqueadero:</strong>
              <?php echo $dato['bus_stay_time'] ?> min
            </p>
          </div>
        <?php } ?>
      </div>
    </div>
  <?php
  }
  ?>
</div>