<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Parkings</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <link rel="stylesheet" href="static/main.css">
</head>

<body>

  <div id="mapa"></div>
  <label for="">ID Parqueadero: </label><input type="text" id="id_parking">

  <main class="content">

    <section class="content__box">
      <div id="content"></div>
    </section>

    <div class="content__box">
      <h3 class="form__title">Ingresar bus a parqueadero</h3>
      <form method="post" id="js-form">
        <div class="form__box">
          <label for="bus_driver">Conductor bus:</label>
          <input type="text" id="bus_driver" name="bus_driver">
        </div>

        <div class="form__box">
          <label for="bus_origin">Origen del bus:</label>
          <select name="bus_origin" id="bus_origin">
            <?php foreach ($data_table as $data) {  ?>
              <option value="<?php echo $data['idtbl_parking'] . " : " . $data['parking_municipality'] ?>">
                <?php echo $data['parking_municipality'] ?>
              </option>
            <?php } ?>
          </select>
        </div>

        <div class="form__box">
          <label for="bus_destination">Destino del bus:</label>
          <select name="bus_destination" id="bus_destination">
            <?php foreach ($data_table as $data) {  ?>
              <option value="<?php echo $data['parking_municipality'] ?>">
                <?php echo $data['parking_municipality'] ?>
              </option>
            <?php } ?>
          </select>
        </div>

        <div class="form__box">
          <label for="bus_departure_time_point_origin">Hora salida punto origen:</label>
          <input type="time" name="bus_departure_time_point_origin" id="bus_departure_time_point_origin">
        </div>

        <div class="form__box">
          <label for="bus_arrival_time_point_destination">Hora llegada punto destino:</label>
          <input type="time" name="bus_arrival_time_point_destination" id="bus_arrival_time_point_destination">
        </div>

        <div class="form__box">
          <label for="bus_stay_time">Tiempo estadia en el parquedero:</label>
          <input type="number" name="bus_stay_time" id="bus_stay_time">
        </div>

        <div class="form__box">
          <label for="bus_stay_time">Número de pasajeros:</label>
          <select name="bus_passangers" id="bus_passangers">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="40">40</option>
          </select>
        </div>

        <input id="id_parking_current" name="id_parking_current" type="hidden" value="">

        <button type="submit" id="js-enviar">Registrar bus</button>
      </form>
    </div>

    <div id="form"></div>
  </main>

  <code style="opacity: 0; visibility: hidden; position: absolute; top: -10000px;">
    <?php echo $json_parking ?>
  </code>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <script>
    function tiempoReal() {
      var tabla = $.ajax({
        url: 'views/data_parking.phtml',
        dataType: 'json',
        method: 'POST',
        data: {
          'id_parking': $('#id_parking').val()
        },
        async: false
      }).responseText;

      document.getElementById("content").innerHTML = tabla
    }
    setInterval(tiempoReal, 1000)
  </script>

  <script>
    $(document).ready(function() {
      $("#js-enviar").click(function(e) {
        e.preventDefault();

        var form = $.ajax({
          url: 'views/data_form_bus.phtml',
          method: 'POST',
          data: {
            'bus_driver': $('#bus_driver').val(),
            'bus_origin': $('#bus_origin').val(),
            'bus_destination': $('#bus_destination').val(),
            'bus_departure_time_point_origin': $('#bus_departure_time_point_origin').val(),
            'bus_arrival_time_point_destination': $('#bus_arrival_time_point_destination').val(),
            'bus_stay_time': $('#bus_stay_time').val(),
            'bus_passangers': $('#bus_passangers').val(),
            'id_parking_current': $('#id_parking_current').val(),
          },
          async: false
        }).responseText;

        document.getElementById("form").innerHTML = form

      });
    });

    setInterval(() => {
      $("#id_parking_current").attr("value", $('#bus_origin').val().substr(0, 2));
    }, 100)
  </script>
  
  <script src="static/json_parse.js"></script>
  <script src="static/alert.js"></script>
</body>

</html>