* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mapa {
  height: 50vh;
  border: 1px solid #000;
}

.content {
  position: relative;
  display: flex;
  padding: 20px;
}

.content__box {
  flex: 1 1 50%;
}

.msj-none {
  font-size: 24px;
  color: #b31f1f;
}

.card {
  padding: 20px;
}

.card__content {
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid gray;
}

.card__content p {
  margin-bottom: 16px;
}

.card__content p:last-of-type {
  margin-bottom: 0;
}

.card__wrap {
  display: flex;
  flex-wrap: wrap;
}

.card__wrap .card__content {
  width: max-content;
}

.form__title,
.form__box {
  margin-bottom: 16px;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.alert__box {
  border-radius: 5px;
  padding: 16px;
  background-color: #eaeaea;
}

.alert__box h1,
.alert__box h2 {
  font-size: 18px;
}

#alert-error .alert__box {
  position: relative;
  top: 67px;
}
